a.directory-item {
  border: solid lightgrey 2px !important;
  color: #6C757D !important;
  transition: 500ms;
}

a.directory-item:hover {
  border: solid var(--primary) 2px !important;
  color: var(--primary) !important;
  text-decoration: none !important;
  transition: 250ms;
}

.button-icon-background {
  padding: 8px;
  border-radius: 50%;
  transition: 250ms;
}

.button-icon-background:hover {
  background-color: var(--light);
  cursor: pointer;
}