/* Global Styles */

/* a {
  color: white;
  text-decoration: none;

  transition: 0.25s ease-in-out;
}

a:hover {
  text-decoration: underline;

  transition: 0.25s ease-in-out;
} */

body, html {
  height: 100%;
  width: 100%;
}