.navbar-nav .dropdown #account-nav-dropdown {
  color: rgba(0, 123, 255, 1);
  transition: 500ms ease-in;
  text-decoration: none;
}

.navbar-nav .dropdown #account-nav-dropdown:hover {
  color: white;
  transition: 500ms ease-out;
  text-decoration: underline;
}

.navbar-nav .dropdown #account-nav-dropdown:focus {
  color: white;
  transition: 500ms ease-in-out;
}