<!DOCTYPE html>
<html>
  <head>
    <title>Sortr - Open Source File Sharing</title>
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for("static", filename="assets/apple-touch-icon.png") }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for("static", filename="assets/favicon-32x32.png") }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for("static", filename="assets/favicon-16x16.png") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css") }}>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="reactEntry">
      Loading...
    </div>
  </body>
  <script type="text/javascript" src={{ url_for("static", filename="js/bundle.js") }}></script>
</html>
